@model Usuario
<div class="text-left">
    <h1 style="color: gold" class="display-4">Cadastro de Gerentes</h1>
    <br />
    <br />
    <br />

</div>

<div>
    <form asp-controller="Admin" asp-action="CadastrarNovoGerente" method="post">
        <div class="row">
            <div class="col">
                <label for="NomeGerente">Nome</label>
                <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do Gerente">
            </div>
            <div class="col">
                <label for="DataNsc">Data de Nascimento</label>
                <input type="date" asp-for="DataDeNascimento" class="form-control" placeholder="Data de Nascimento">
            </div>
            <div class="col">
                <label for="NomeGerente">E-mail</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="E-mail">
            </div>
            <div class="col">
                <label for="Senha">Senha</label>
                <input type="password" asp-for="Senha" class="form-control" placeholder="Senha">
            </div>
        </div>
        <br />

        <button type="submit" class="btn btn-outline-warning">Cadastrar</button>

    </form>
</div>

<br />
<br />
<h3 style="color: gold">Lista de Gerentes</h3>
<table class="table">
    <thead style="color: gold">
        <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>19/02/1990</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>01/10/1971</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Emanuela</td>
            <td>07/03/2000</td>
        </tr>
    </tbody>

</table>
<br/>

<a class="btn btn-outline-warning " href="@Url.Action("Index","Admin")">Voltar</a>
