@{
    ViewData["Title"] = "Cadastro da Ual Invest";
}

<div class="text-center">
    <h1 style="color: gold" class="display-4">Usuario Cadastrado com Sucesso! </h1>
    <br />
    <br />
    <br />
    <h2>Pronto para começar a investir? Faça o Login</h2>
    <br />
    <button type="button" class="btn btn-outline-warning">Login</button>

    </div>