<h3 style="color: gold">Resgatar Rendimentos</h3>
<br />
<div class="user" align="right">
    <h5 style="color: gold">Saldo Disponivel em conta: R$ 250,00</h5>
</div>

<div>
    <h3>Quanto você deseja sacar?</h3>
</div>


<form>
    <div class="mb-3">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Para qual banco você deseja enviar?</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Selecione a instituição</option>
            <option value="1">Itau</option>
            <option value="2">Bradesco</option>
            <option value="3">Nubank</option>
        </select>
        <div>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite o valor que deseja resgatar">
        </div>
    </div>
    <div class="mb-3">
        
    </div>



    <button type="submit" class="btn btn-outline-warning" asp-controller="Cliente" asp-action="Saque">Resgatar</button>
    <button type="submit" class="btn btn-outline-warning" asp-controller="Cliente" asp-action="Index">Voltar</button>
</form>

