@{
    ViewData["Title"] = "Pagina Inicial";
}


    <div class="text-center">


        <div class="text-center">
            <img src="~/Imagens/Home/Home.png"  alt="Ual Invest">

        </div>

        
    </div>

